* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    line-height: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
}

.header {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 100%;
    color: white;
}

.header>h1 {
    margin-left: 10px
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
}

.menu>hr {
    height: 4px;
    width: 35px;
    border: none;
    background-color: white;
    margin: 3px;
}

.nav {
    background-color: black;
    min-height: 100vh;
    width: 0%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition-duration: 0.4s;
    transition-property: width;
}

.nav_button,
.learn_button {
    margin: 5px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.twitter {
    background-color: rgb(18, 166, 229)
}
.instagram {
    background-color: #f20084; color:black;
}

.github {
    background-color: yellow
}

.close {
    background-color: crimson
}
// ===============
.article {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.messagebox {
    min-height: 500px;
    background-color: rgb(44, 44, 44);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding: 20px;
    line-height: 30px;
}

.userWords {
    height: 50px;
    width: 240px;
    color: white;
    border: none;
    font-size: 20px;
    text-indent: 10px;
    background-color: black;
}

.memory {
    height: 500px;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    scroll-behavior: smooth;
}

.robotp {
    background-color: springgreen;
    color: black;
    text-align: left;
    width: 250px;
    padding: 10px;
    margin: 5px;
    border-radius: 35px 35px 35px 0px;
    line-height: 30px;

}

.userp {
    background-color: crimson;
    color: white;
    text-align: right;
    width: 250px;
    text-align-last: auto;
    padding: 10px;
    margin: 5px;
    border-radius: 35px 35px 0px 35px;
    line-height: 30px;

}

.inputbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sendButton {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    border-radius: 0px 50px 50px 0px;
    background-color: springgreen;
    color: black;
    border: none;
}

